.card{
  width: 240px;
  height: 400px;
  background-color: chocolate;
  border-radius: 16px;
  border: 8px solid gray;
  box-shadow: 2px, 2px, 8px, 2px darkolivegreen;
  overflow: hidden;
}

.stat-list{
  margin:0;
  padding: 0 8px;
}

.stat-list-item{
  list-style: none;
  display: flex;
  justify-content:space-between;
}

.center-area{
  text-align: center;
  align-self: center;
  min-width: 10vw;
}

.card-list{
  display: flex;
  flex-direction: row-reverse;
}

.game{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-list-item.player{
  margin-left: calc(2vw - 220px);
}

.card-list-item.enemy{
  margin-right: calc(2vw - 220px);
  direction: ltr;
}

.card-list.enemy{
  direction: rtl;
}

.play-button{
  width: 160px;
  height: 80px;
  align-self: center;
  font-size: large;
  font-weight: bold;
}

.card.back{
  background-color: saddlebrown;
}